.social-cont {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.social {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.social-item{
	display: inline-block;
  	min-width: 32px;
  	min-height: 100px;
  	text-align: middle;
}

.social-item img{
	  
		margin: auto;
		margin-top: 50%;
		margin-bottom: 50%;
	  vertical-align: middle;
	  height: 100%;
}