.title{	
	margin-left: 15px;
	padding: 1px;
	border: solid 1px yellow;
	margin-bottom: 10px;
}

.title h3{
	background: #7f7f7f;
	color: #ffff00;
	font-weight: normal;
	padding: 0 5px;
	position: relative;
	height: 23px;
	line-height: 23px;
}

.category{
	position: relative;
	margin: 0;
	line-height: 1;
	width: 250px;
}

.category ul{
	margin: 0;
	list-style-type: none;
	display: block;
	padding: 0;
}

.category ul li{
	position: relative;
	margin: 0;
	padding: 0;
}

.category ul li a{	
	text-decoration: none;
	cursor: pointer;	
}

.category > ul > li > a{
	color: #dddddd;
	text-transform: uppercase;
	display: block;
	padding: 20px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	background: #222222;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: 300;
	-webkit-transition: all 0.25s ease-in;
 	-moz-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;
	position: relative;
}

.category > ul > li:first-child > a{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.category > ul > li:last-child > a{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom: 1px solid #000000;	
}

.category > ul > li:hover> a, 
.category > ul > li.open> a,
.category > ul > li.active> a{
	background: #151515;
	color: #ffffff;
}

.category > ul ?li.has-sub > a::after{
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #000000;
  border-botom: 13px solid transparent;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -13px;
  bottom: 0px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.category ul > li.has-sub > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #151515;
  border-botom: 13px solid transparent;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -12px;
  bottom: -1px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.category ul > li.has-sub::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #dddddd;
  z-index: 2;
  right: 20px;
  top: 24.5px;
  pointer-events: none;
}
.category ul > li:hover::after,
.category ul > li.active::after,
.category ul > li.open::after {
  border-top-color: #ffffff;
}
.category ul > li.has-sub.open > a::after {
  opacity: 1;
  bottom: -13px;
}
.category ul > li.has-sub.open > a::before {
  opacity: 1;
  bottom: -12px;
}
.category ul ul {
  display: none;
}
.category ul ul li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.category ul ul li a {
  background: #f1f1f1;
  display: block;
  position: relative;
  font-size: 15px;
  padding: 14px 20px;
  border-bottom: 1px solid #dddddd;
  color: #777777;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.category ul ul li:first-child > a {
  padding-top: 18px;
}
.category ul ul ul li {
  border: 0;
}
.category ul ul li:hover > a,
.category ul ul li.open > a,
.category ul ul li.active > a {
  background: #e4e4e4;
  color: #666666;
}
.category ul ul > li.has-sub > a::after {
  border-top: 13px solid #dddddd;
}
.category ul ul > li.has-sub > a::before {
  border-top: 13px solid #e4e4e4;
}
.category ul ul ul li a {
  padding-left: 30px;
}
.category ul ul > li.has-sub::after {
  top: 18.5px;
  border-width: 6px;
  border-top-color: #777777;
}
.category ul ul > li:hover::after,
.category ul ul > li.active::after,
.category ul ul > li.open::after {
  border-top-color: #666666;
}


.carousel-inner > .item > a > img {	
	margin: auto;	
	height: 200px;	
}

.carousel-inner > .item > img {	
	margin: auto;
	height: 200px;
	
}

#title-product{
	margin-left: 15px;
}

.right-wrapper{
	padding-left: 40px;
}


.product{
	float:left;
	margin-left: 0px;
}

#product-hot{
	float: left;
	padding-left: 0px;
}

#product-new{
	float: left;
	padding-left: 0px;
}


.product ul{
	list-style-type: none;
}

.product li{
	float: left;	
}

.product-box{
  text-align: center;
  width: 25%; 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  

}

.product-box img{  
  width: 100%;
  height: 100%;  
}


.product-box a:hover{
  border-color: yellow;
}
.caption{
  text-align: center;
  color: red;
  font-size: 23;
}
.buynow{
  width: 180px;  
}
.footer-container .left{
	float: left;
	width: 30%;
}

.footer-container .right{
	float: right;
	width: 70%;
}

.footer-container .right ul{
	list-style-type: none;
	text-align: right;
}
.footer-container .right ul li{
	display: inline;
	padding: 10px 10px 10px 10px;
}
.footer-container .right ul li:hover{	
	font-style: italic;
	color: white;
}
.footer-container .right ul li .last{
	padding-right: 20px;
}
.footer-container .right ul li img:hover{
	background-color: white;
}






@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
#cssmenu {
  position: relative;
  margin: 0;
  font-family: 'Roboto Condensed';
  line-height: 1;
  width: 250px;
}
.align-right {
  float: right;
}
#cssmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
#cssmenu ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu ul li a {
  text-decoration: none;
  cursor: pointer;
}
#cssmenu > ul > li > a {
  color: #dddddd;
  text-transform: uppercase;
  display: block;
  padding: 20px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  background: #222222;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  position: relative;
}
#cssmenu > ul > li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu > ul > li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid #000000;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.open > a,
#cssmenu > ul > li.active > a {
  background: #151515;
  color: #ffffff;
}
#cssmenu ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #000000;
  border-botom: 13px solid transparent;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -13px;
  bottom: 0px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu ul > li.has-sub > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #151515;
  border-botom: 13px solid transparent;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  left: 0;
  bottom: -12px;
  bottom: -1px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu ul > li.has-sub::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #dddddd;
  z-index: 2;
  right: 20px;
  top: 24.5px;
  pointer-events: none;
}
#cssmenu ul > li:hover::after,
#cssmenu ul > li.active::after,
#cssmenu ul > li.open::after {
  border-top-color: #ffffff;
}
#cssmenu ul > li.has-sub.open > a::after {
  opacity: 1;
  bottom: -13px;
}
#cssmenu ul > li.has-sub.open > a::before {
  opacity: 1;
  bottom: -12px;
}
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#cssmenu ul ul li a {
  background: #f1f1f1;
  display: block;
  position: relative;
  font-size: 15px;
  padding: 14px 20px;
  border-bottom: 1px solid #dddddd;
  color: #777777;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
#cssmenu ul ul li:first-child > a {
  padding-top: 18px;
}
#cssmenu ul ul ul li {
  border: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  background: #e4e4e4;
  color: #666666;
}
#cssmenu ul ul > li.has-sub > a::after {
  border-top: 13px solid #dddddd;
}
#cssmenu ul ul > li.has-sub > a::before {
  border-top: 13px solid #e4e4e4;
}
#cssmenu ul ul ul li a {
  padding-left: 30px;
}
#cssmenu ul ul > li.has-sub::after {
  top: 18.5px;
  border-width: 6px;
  border-top-color: #777777;
}
#cssmenu ul ul > li:hover::after,
#cssmenu ul ul > li.active::after,
#cssmenu ul ul > li.open::after {
  border-top-color: #666666;
}
