.sidebar{
	float: left;
	width: 230px;
}
.box{
	padding: 1px;
	border: 1px solid #dedede;
	margin-bottom: 10px;
}
.search{
	min-height: 250px;
}
.category{
	width: 20%;
	min-height: 50px;
	float: left;
}