.social-cont {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.social {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.social-cont h2{
	margin: auto;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5%;
}

.social-item{
	display: inline-block;
  	min-width: 32px;
  	min-height: 100px;
  	text-align: middle;
  	background-color: transparent;
  	margin-left: 15px;
  	margin-right: 15px;
}

.social-item img{
	  
		margin: auto;
		margin-top: 50%;
		margin-bottom: 30%;
	  vertical-align: middle;
	  height: 100%;
}