.social-cont {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.social {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.social-cont h2{
	margin: auto;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5%;
}

.social-item{
	display: inline-block;
  	min-width: 32px;
  	min-height: 100px;
  	text-align: middle;
  	background-color: transparent;
  	margin-left: 15px;
  	margin-right: 15px;
}

.social-item img{	  
	margin: auto;
	margin-top: 50%;
	margin-bottom: 30%;
	vertical-align: middle;
	height: 100%;
}

.cuadro_intro_hover{
        padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}