.img-category{
	height: 50%;
	width: 50%;
}

.list{	
	height: 400px;
	margin-bottom: 0px;
	overflow: auto;
}

.category{
	padding: 0px;
}

.link{
	text-align: center;
}

#productWrapper{
	display: none;
}

.img-product{
	height: 25%;
	width: 25%;
}

.list-product{	
	height: 400px;
	margin-bottom: 0px;
	overflow: auto;
}

.product{
	padding: 0px;
}

.product{
	text-align: center;
}

#name-error{
	display: none;
}

#productInfoWrapper{
	display: none;
}