#homeIcon {
	margin-right: 15px;
}

body{
	font-family: 'Arial', Times, serif;
}

body, .content, html{
	height: 100%;
}

#navBar {
	background-color: #323440;
	border-bottom: 0px;
}


.content {
	background: url("../img/background.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;	
	  padding-top: 2%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}

.container{
	margin-top: 2%;
}

#wrapper-top{
	margin-top: 70px;
	margin-bottom: auto;
	padding-bottom: 20px;
}



#menuButton{
	text-align: left;
	border-top: dashed white 1px;
	border-bottom: dashed white 1px;
	background: transparent;
}

#menuButton a{
	color: white;
}

#carouselWrapper{
	background: url("../img/border-pic.png") no-repeat;
	background-position: top left;
	height: 305px;	
	
}

#myCarousel{
	padding-top: 50px;
	padding-bottom: 50px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
      width: 70%;
}

#menuSideBar{
	background: url("../img/border-decor.png") no-repeat;
	background-position: top right;
	height: 305px;
	
}

#menuSideBar h3 {
	margin-top: -5px;
}

.news{
	background: transparent;
	border: dashed 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	width: 90%;
}


#wrapper-middle{
	margin-top: 20px;
}

#wrapper-middle-content{
	margin-top: 50px;
	margin-bottom: 50px;
}

#wrapper-bottom-content{
	margin-top: 50px;
	margin-bottom: 50px;
}

#pic-wrapper ul{
	list-style-type: none;
}

#pic-wrapper li{
	  padding: 10px;
}

#pic-wrapper img {
	width: 100%;
	height: 250px;
  	border: 0 none;
  	display: inline-block;
}

#pic-wrapper img:hover{
	opacity:  0.4;
	filter: alpha(opacity=40);
}

#imagebox{
	float: left;
	width: 23%;
	border: 1px gray solid;
	margin: 10px;
}

#middleSlide{
	margin-top: 35px;
	border-top: gray 1px dashed;
}

.footer{
	background:transparent;
	height: 20%;
	border-top:1px solid #e5e5e5;
}

#footer-bottom{
	margin-top: 30px;
}
